.header {
    background: #eeeeee;
    color: #1a002d;
    text-align: left;
    font-size: 30px;
    padding: 10px 20px;
}

body{
    background-color: #1a002d;
    margin: 0px;
    font-family: 'Roboto';
}


button {
    margin: 100px auto;
    max-width: 650px;
	background-color: #1a002d;
	border: none;
	outline: none;
	color: #1a002d;
	font-size: 20px;
	display: inline-block;
	border-radius: 3px;
	transition-duration: 0.3s;
	padding: 10px 40px;
}
button:hover{
	background-color: #25003f;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}



